@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes soft-pop {
  0% {
    opacity: 0;
    transform: translateY(15px) scale(0.96);
    box-shadow: 0 24px 60px rgba(15, 23, 42, 0.04);
  }
  50% {
    opacity: 0.5;
    transform: translateY(10px) scale(0.98);
    box-shadow: 0 18px 45px rgba(15, 23, 42, 0.12);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
    box-shadow: 0 18px 45px rgba(15, 23, 42, 0.12);
  }
}

.animate-soft-pop {
  animation: soft-pop 0.4s ease-out;
}

/* Hide scrollbar but allow scroll */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}


@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 6s linear infinite;
}

